<nav class = "navbar">
    <ul>
        <li><a href='Url.Action("Index", "Account")'>Inicio</a></li>
        <li><a href='Url.Action("SobreNosotros", "Account")'>Nosotros</a></li>
    </ul>
</nav>