@{
    Layout = "_Layout";
}
<link rel="script" href="site.js">
<link rel="stylesheet" href="site.css">

<h1 class = "text-center">Bienvenido</h1>
<br>
<ul>
    <li>@ViewBag.UsuarioLogueado.username</li>
    <li>@ViewBag.UsuarioLogueado.nombre</li>
    <li>@ViewBag.UsuarioLogueado.apellido</li>
    <li>@ViewBag.UsuarioLogueado.mail</li>                                                                                                                                                                                             </li>
</ul>
