@{
    Layout = "_Layout";
}

<link rel="script" href="site.js">
<link rel="stylesheet" href="site.css">

<div class="text-center">
    <h1>Login</h1>
    <br>
    <br>
    <button><a href="Url.Action('Login', 'Account')">Sign in</a></button>
    <button><a href="Url.Action('Registro', 'Account')">Sign up</a></button>
</div>
