@{
    Layout = "_Layout";
}

<link rel="script" href="site.js">
<link rel="stylesheet" href="site.css">

<h1>Sign Up</h1>
<br>
<div class="form-login">
    <form action="Url.Action('Login', 'Account')">
        <label>Username: <input type="text" value = "username"></label>
        <label>Contraseña: <input type="text" value = "contraseña"></label>
        <label>Nombre: <input type="text" value = "name"></label>
        <label>Apellido: <input type="text" value = "apellido"></label>
        <label>Email: <input type="text" value = "mail"></label>
        <label>Enviar: <input type="submit" value= "Enviar"></label> 
    </form>
</div>

