@{
    Layout = "_Layout";
}

<link rel="script" href="site.js">
<link rel="stylesheet" href="site.css">

<h1>Sitio desarrollado por:</h1>
<br>
<img src="img/duo_galactico.jfif" alt="Foto los dos">
<p>David Weissbrod y Ian Roitman</p>
