@{
    Layout = "_Layout";
}

<link rel="script" href="site.js">
<link rel="stylesheet" href="site.css">

<h1>Cambiar contrase単a</h1>
<br>
<br>
<form action="Url.Action('CambiarContrase単a', 'Account')">
    <label>Ingrese su mail: <input type="text" value="mail"></label>
    <label>Nueva contrase単a: <input type="text" value ="Nueva Contrase単a"></label>
    <label>Enviar<input type="submit"></label>
</form>


