@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="site.css">
<link rel="script" href="site.js">
<h1>Sign in</h1>

<div class="form-registro">
    <form action="Url.Action('Login', 'Account')">
        <label>Username: <input type="text" vlaue = "username"></label>
        <label>Contrase単a: <input type="text" value = "contrase単a"></label>
        <label><input type="submit">Enviar</label>
    </form>
</div>
<button><a href="Url.Action('CambiarContrase単a', 'Account')">Olvide mi contrase単a</a></button>
